/* GENERAL */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

body {
  font-family: "Poppins", sans-serif;
  padding-top: 10vh;
}

html {
  scroll-behavior: smooth;
}

p {
  color: rgb(85, 85, 85);
}

a,
.btn {
  transition: all 300ms ease;
}

/* DESKTOP NAVIGATION & HAMBURGER MENU */
nav,
.nav-links {
  display: flex;
}

nav.header-nav {
  background-color: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.02);
  position: fixed;
  justify-content: space-around;
  align-items: center;
  height: 10vh;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

a {
  color: black;
  text-decoration: none;
  text-decoration-color: white;
}

.logo {
  font-size: 2rem;
}

.logo:hover {
  cursor: default;
}

#hamburger-nav {
  display: none;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: black;
  transition: all 0.3s ease-in-out;
}

.nav-links li,
.menu-links li {
  list-style: none;
  padding: 0.5rem 1rem;
  border-radius: 6px;

}

.nav-links li:hover,
.menu-links li:hover {
  background-color: rgba(0, 0, 0, 0.04);
  transition: all 0.3s ease-in-out;
}

.nav-links a,
.menu-links a {
  display: block;
  width: 100%;
  color: black;
  text-decoration: none;
}

.menu-links {
  position: fixed;
  top: 10vh;
  left: 0;
  width: 100%;
  background-color: white;
  overflow: hidden;
  max-height: 0;
  transition: all 0.3s ease-in-out;
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.02);
}

.menu-links a {
  display: block;
  width: 100%;
  padding: 10px;
  text-align: center;
  color: black;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.menu-links.open {
  max-height: 300px;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
  transform: none;
}

.hamburger-icon span:first-child {
  opacity: 1;
}

.hamburger-icon span:first-child {
  transform: none;
}

/* SECTION */

section {
  padding-top: 12vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
  text-align: center;
}

.section-container {
  display: flex;
}

/* PROFILE SECTION */

#profile {
  display: flex;
  justify-content: center;
  gap: 5rem;
  height: 82vh;
  margin-bottom: 5rem;
}

.section__pic-container {
  display: flex;
  height: 275px;
  width: 275px;
  margin: auto 0;
  justify-content: center;
  align-items: center;
}

.section__pic-container img {
  height: 250px;
}

.section__text {
  align-self: center;
  text-align: center;
}

.section__text p {
  font-weight: 600;
}

.section__text__p1 {
  text-align: center;
}

.section__text__p2 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

.name {
  font-size: 3rem;
  text-align: center;
}

.section-title {
  display: flex;
  justify-content: center;
  width: 100%;
}

.title {
  position: relative;
  display: inline-block;
  padding: 0 1.5rem;
  font-size: 3rem;
  text-align: center;
}

.title::before,
.title::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 40px;
  height: 2px;
  background-color: rgb(163, 163, 163);
}

.title::before {
  left: -50px;
}

.title::after {
  right: -50px;
}


#socials-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

/* ICONS */

.icon {
  cursor: pointer;
  height: 2rem;
}

/* BUTTONS */

.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 600;
  font-size: 0.9rem;
  transition: all 300ms ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
}

.btn-color {
  border: rgb(53, 53, 53) 0.1rem solid;
}

.btn-color:hover {
  cursor: pointer;
  background-color: rgb(0, 0, 0);
  color: white;
  transition: all 300ms ease-in-out
}

.btn-container {
  gap: 1rem;
}

/* ABOUT SECTION */

#about {
  position: relative;
}

.about-containers {
  display: flex;
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.about-details-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  gap: 2rem;
  align-items: start;
  justify-content: center;
}

.education-container,
.text-container,
.timeline-container {
  flex: none;
  max-width: 100%;
}

.details-container {
  padding: 1.5rem;
  flex: 1;
  background: white;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  text-align: center;
}

.section-container {
  gap: 4rem;
}

.education-container {
  grid-row: 1;
  padding: 1.5rem;
  background: white;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  text-align: center;
}

.text-container p {
  font-size: 0.9rem;
  grid-row: 2;
}

.timeline-container {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  max-width: 40%;
  max-height: 400px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-right: 1rem;
}

.timeline-title {
  position: sticky;
  margin-bottom: 1rem;
  text-align: left;
}

.timeline::-webkit-scrollbar {
  display: none;
}

ul.timeline {
  position: relative;
  overflow-y: auto;
  padding-left: 5px;
}

ul.timeline li {
  border-left: 2px solid rgb(163, 163, 163);
  position: relative;
  padding-bottom: 20px;
  padding-left: 24px;
}

ul.timeline li:last-child {
  padding-bottom: 0;
  border-left: 2px solid transparent;
}

ul.timeline li::before {
  display: block;
  content: "";
  width: 12px;
  height: 12px;
  background-color: rgb(163, 163, 163);
  border-radius: 50%;
  position: absolute;
  margin-left: -31px;
}

.timeline-date {
  font-size: 0.8rem;
  text-align: left;
  color: rgb(85, 85, 85);
  margin-bottom: 0.25rem;
}

.timeline-content {
  margin-bottom: 0.25rem;
  text-align: left;
}

.timeline-text {
  font-size: 0.75rem;
  color: #858585;
}

.timeline-icon {
  cursor: pointer;
  height: 0.7rem;
  vertical-align: baseline;
}

.hightlight-text {
  font-weight: bold;
  color: #003153;
}

/* SKILLS SECTION */

#skills {
  position: relative;
}

.skills-subtitle {
  color: rgb(85, 85, 85);
  font-weight: 600;
  font-size: 1.75rem;
  margin-top: 2rem;
  margin-bottom: 0.8rem;
}

.skills-details-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.skills-tags-container {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  align-items: flex-start;
}

.skill-category {
  width: 100%;
  text-align: left;
}

.skill-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
}

.skill-tag {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.4rem 0.8rem;
  border-radius: 20px;
  border: 1px solid rgb(163, 163, 163);
  font-family: "Roboto Condensed", sans-serif;
  font-size: 0.9rem;
  font-weight: 500;
  background-color: white;
}

.skill-tag img {
  display: block;
  width: 20px;
  height: 20px;
  image-rendering: crisp-edges;
  filter: drop-shadow(0 0 0.5px rgba(0, 0, 0, 0.2));
}

/* PROJECT SECTION */

#projects {
  position: relative;
}

.color-container {
  border-color: rgb(163, 163, 163);
  background: rgb(250, 250, 250);
}

.project-img {
  border-radius: 2rem;
  width: 90%;
  height: 90%;
}

.project-title {
  margin: 1rem;
  columns: black;
}

.project-btn {
  color: black;
  border-color: rgb(163, 163, 163);
}


.article-container {
  display: flex;
  text-align: initial;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2.5rem;
  justify-content: space-around;
}

/* CONTACT PAGE */

#contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 70vh;
}

.contact-info-upper-container {
  display: flex;
  justify-content: center;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  background: rgb(250, 250, 250);
  margin: 2rem auto;
  padding: 0.5rem;
}

.contact-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem;
}

.contact-info-container p {
  font-size: larger;
}

.contact-icon {
  cursor: default;
  height: 2rem;
}